.main-left {
    float: left;
    width: 60%;
    border: 2px solid black;
}

#first-logo {
    float: left;
    max-width: 200px;
    height: 100px;
}

#second-logo {
    float: right;
    max-width: 100px;
    height: 80px;
}

