 article .left-articles {
    /* background-color: green ; */
    float: left;    
}

article .right-articles {
    float: right;
    /* background-color: green; */
}

.left-articles ,
.right-articles {
    width: 270px;
    background-color: rgba(133, 88, 6, 0.644);
    border-radius: 3%;
    border: 4px black solid ;
    padding: 0.6rem;
    /* float: right; */
    margin: 2rem auto auto 2rem;
}

.title-article {
    margin-bottom: 1rem;
    border-bottom: 2px solid black;    
}

.text-article ,
img {
    float: left;
    width: 50%;
    /* border-bottom: 2px solid black ; */

}

.clear-float {
    clear: both;
}

.author-article img {
    /* float: right; */
    width: 30px;
    height: auto;
    margin-top: 1rem;
    padding-right: 0;
    /* margin: 1rem 0 0 0; */
    /* background-color: green;  */
}

.div-footer .author-article {
    float: right;
    
}

.div-footer {
border-top: 2px solid black;
margin-top: 1rem;
}

.navigation {
    background-color: brown;
    padding: 3rem;
}


.left-nav ul li {
    float: left;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 2rem;  
    color: black;
    width: auto;    
}

.left-nav ul li a ,
.right-nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.5rem;
    background-color: goldenrod;
    border: 1px solid black;
}

.right-nav ul li {
    float: right;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 2rem;  
    color: black;
    width: 100px;
}


